<sly data-sly-use.dashMod="com.spheredigital.assetsphere.core.models.DashoardCardsModel">

    <div class="dashboard">

        <div class="card">
            <h3>${dashMod.assetsTitle}</h3>
            <h2>--</h2>
        </div>

        <div class="card">
            <h3>${dashMod.usersTitle}</h3>
            <h2>--</h2>
        </div>

        <div class="card">
            <h3>${dashMod.downloadsTitle}</h3>
            <h2>--</h2>
        </div>

        <div class="card">
            <h3>${dashMod.storageTitle}</h3>
            <h2>--</h2>
        </div>

    </div>

</sly>